.login {
  width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
