.Profile {
  width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-end;
}

.profile-img {
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 5px 20px 20px 5px;
}

.profile-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
